{% load static %}  <!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Wypożyczalnia Sprzętu</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
<body>
    <nav style="background: #ddd; padding: 10px; text-align: center; margin-bottom: 20px;">
        <a href="{% url 'lista_produktow' %}" style="margin: 0 10px; font-weight: bold;">🏠 Wszystko</a>
        <a href="{% url 'tylko_dostepne' %}" style="margin: 0 10px; color: green;">🟢 Tylko wolne</a>
        <a href="{% url 'lista_awarii' %}" style="margin: 0 10px; color: red;">🛠️ Lista awarii</a>
    </nav>
    
    <h1>Dostępny sprzęt</h1>

    {% if produkty %}
        <ul>
            {% for produkt in produkty %}
                <li>
                    <strong>
                        <a href="{% url 'szczegoly_produktu' produkt.pk %}" style="text-decoration: none; color: #2980b9;">
                            {{ produkt.nazwa }}
                        </a>
                    </strong>
                    <br>
                    <small>Kategoria: {{ produkt.kategoria.nazwa }}</small>
                    <br>
                    Stan: 
                    {% if produkt.dostepny %}
                        <span style="color: green; font-weight: bold;">Dostępny</span>
                    {% else %}
                        <span style="color: red; font-weight: bold;">Zajęty</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p style="text-align: center;">Brak sprzętu w bazie.</p>
    {% endif %}

</body>
</html>